# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://duhhoytdljsmgjrvolev.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_G1fu0F72CLdhstElz0M_Uw_OnEdDKsI
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# OpenAI (server only)
OPENAI_API_KEY=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

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
